<div>
  <mat-toolbar class="bg-primary">
    <div class="d-flex w-100 justify-content-between align-items-center">
      <div>
        <div class="d-flex align-items-center text-white">
          <i class="fa-solid fa-dumbbell fa-rotate-by" style="--fa-rotate-angle: -45deg;"></i>
          &nbsp;{{title}}
        </div>
      </div>
      <div>
        <div class="d-flex align-items-center text-white fw-light">
          <i class="fa-solid fa-house px-4" (click)="tohome()" matTooltip="Home"></i>
          <i class="fa-solid fa-right-from-bracket px-4" (click)="logout()" matTooltip="Logout"></i>
          <i class="fa-solid fa-circle-user fa-2x px-2"></i>
          {{userInfo? userInfo?.name : "Guest"}}
        </div>
      </div>
    </div>

  </mat-toolbar>
</div>