img {
    position: absolute;
    z-index: -2;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    filter: brightness(40%);
}

.content {
    padding-left: 65rem;
    padding-top: 15rem;
}