<app-headers [title]="title"></app-headers>
<div>
    <img src="https://wallpapers.com/images/hd/blue-neon-sign-work-harder-6jf1mvwlx1p5argb-6jf1mvwlx1p5argb.webp">
</div>
<div class="text-center">
    <div class="h3">
        Welcome to Workout App!
    </div>
    <div>
        "The body achieves what the mind believes"
    </div>
    <div class="mt-5">
        <button mat-raised-button (click)="onLogin()" class="btn btn-success mx-3">
            Login
        </button>
        <button mat-raised-button (click)="onSignup()" class="btn btn-primary mx-3">
            Signup
        </button>
    </div>
</div>