<app-headers [title]="title"></app-headers>
<div class="container">
    <h2 mat-dailog-title class="text-center py-4">
        {{catalougeItems[0].title}}
    </h2>
    <div class="d-flex flex-column text-center justify-content-center">
        <div>
            <img class="workout-img" src="{{catalougeItems[0]?.url}}">
        </div>
        <div class="pt-5">
            {{catalougeItems[0]?.content}}
        </div>
        <div class="pt-5">
            <button mat-raised-button (click)="start()" class="btn btn-success mx-3">
                Start
            </button>
            <button mat-raised-button (click)="end()" class="btn btn-danger mx-3">
                End
            </button>
            <button mat-raised-button (click)="total()" class="btn btn-primary mx-3">
                Total Calories Burned
            </button>
        </div>
    </div>
</div>