<app-headers [title]="title"></app-headers>
<div class="container ">

    <div class="pt-3">
        <div class="input-group rounded">
            <input [(ngModel)]="searchValue"  type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <span class="input-group-text border-0" id="search-addon">
              <i class="fas fa-search" (click)="searchHandler()"></i>
            </span>
          </div>

    </div>
    <div class="cataLouge">
    <!-- <mat-card class="content" *ngFor="let item of catalougeItems; index as i;">
        <mat-card-title-group>
          <mat-card-title>{{item.title}}</mat-card-title>
         
          <img mat-card-sm-image src={{item.url}}>
        </mat-card-title-group>
        <mat-card-content>
          {{item.content}}
        </mat-card-content>
      </mat-card> -->
      <div class="card content" *ngFor="let item of catalougeItems; index as i;">
       <a [routerLink]="['/catalouge',item.title,item._id]" style="text-decoration:none ;">  <h5 class="card-title text-center" >{{item.title}}</h5></a>
        <img class="card-img-top" src={{item.url}} alt="Card image cap" height="100%" width="100%" style="object-fit: fill;">
        <!-- <div class="card-body">
          <p class="card-text">{{item.content}}</p>
        </div> -->
      </div>
    </div>
    

</div>
<!-- <div style="position: fixed;">
  <app-footer></app-footer>
</div> -->
