<app-headers [title]="title"></app-headers>
<div class="container ">
  <div class="pt-3">
    <div class="input-group rounded">
      <input [(ngModel)]="searchValue" (ngModelChange)="searchHandler(searchValue)" class="form-control rounded"
        placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    </div>
  </div>
  <div *ngIf="catalougeItems?.length > 0">
    <div class="cataLouge">
      <div class="card content" *ngFor="let item of catalougeItems; index as i;">
        <a class="text-decoration-none" [routerLink]="['/catalouge',item.title,item._id]">
          <h5 class="card-title text-center">{{item.title}}</h5>
        </a>
        <img class="card-img-top" src={{item.url}} alt="Card image cap" height="100%" width="100%"
          style="object-fit: fill;">
      </div>
    </div>
  </div>
  <div *ngIf="catalougeItems?.length === 0">
    <div class="d-flex justify-content-center align-items-center flex-column pt-5">
      <div>
        <i class="fa-solid fa-dumbbell fa-3x"></i>
      </div>
      <div class="h3 pt-4">
        No workout found with this filter
      </div>
      <div class="fw-semibold">
        We will add more workout soon..
      </div>
    </div>
  </div>
</div>